<p>
  Leaderboard
</p>

<table>
  <tr *ngFor="let entry of leaderboard.message; let i = index">
    <td>{{ i + 1 | number }}</td>
    <td>{{ entry.name }}</td>
    <td>{{ entry.score | number }}</td>
    <td>{{ entry.round }} - {{ entry.stage }}</td>
    <td [ngSwitch]="entry.ship">
      <span *ngSwitchCase="0">Wivern</span>
      <span *ngSwitchCase="1">Hydra</span>
      <span *ngSwitchCase="2">Greif</span>
    </td>
    <td>{{ (entry.time - 3600) * 1000 | date:'HH:mm:ss'}}</td>
    <td>{{ entry.timestamp * 1000 | date:'shortDate'}}</td>
  </tr>
</table>