<h2>
  About the game
</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/DtWIngMo_Ug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
  Outnumbered and outgunned in deep space? No problem! Turn bullet hell into bullet heaven with your advanced Schildmaid
  technology and start collecting dangerous projectiles to power up your ship and score big! But when your shield runs
  out and danger time kicks in, you better switch up your strategy fast...
</p>
<p>
  Schildmaid MX is a fresh, new and shiny 2D shoot 'em up in which you pick 1 of 3 ferocious space fighter crafts to
  wreak havoc on the invasion fleet that threatens your planet. Embark on multiple attack runs and put fear in the
  hearts of your enemies. The best pilots are immortalized on the online leaderboards!
</p>

<h2>Schildmaid MX features</h2>
<ul>
  <li>delicious bullet absorbing scoring mechanics</li>
  <li>a friendly difficulty curve for beginners in Jaeger Mode</li>
  <li>instant action and a frantic challenge for veteran shmup players in Krieger Mode</li>
  <li>a true endless survival gauntlet for the most die hard players in Chimera Mode</li>
  <li>multiple secret boss fights that activate via specific player actions and achievements</li>
  <li>3 selectable ships</li>
  <li>numerous loops that progressively introduce new enemies and situations across all 3 game modes</li>
  <li>automatically saved checkpoints in Jaeger Mode, allowing you to practice stages and bosses</li>
  <li>online leaderboards</li>
  <li>unlockable in-game achievements and titles for your player profile</li>
  <li>amazingly catchy OST by Ed Tremblay of Studio Mudprints</li>
  <li>optional properly emulated CRT filter for a beautiful, nostalgic look</li>
</ul>